body{background-color: #fbe8e7;}
h3
{ margin: 30px 30px auto auto ;
	font-size: 1em;
	text-align: center;
	color: #545454;
	font-family: 'Indie Flower', cursive;
	 display: inline-block;
}
h1{  
	
	text-align: center;
	font-family: 'Lobster', cursive;
  text-shadow: 7px 0 #cca8e9;
  font-size:5rem;
  color: #b83b5e;
}
p{padding : 
	3% 10% 1% 10%;
	font-size: 20px;
  color: #b83b5e;
  font-family: 'Indie Flower', cursive;
}
.container{  width: 60%;
	margin: auto;
	text-align: center;

}



.dice{ width: 30%;
	text-align: center;
	  display: inline-block;
}
.btn{

margin-top: 50px;
	}
img{
	width: 30%;
	padding : 2% 2%;
}

footer{
  margin: 5%;
  color: #000;
  text-align: center;
  font-family: 'Indie Flower', cursive;}

  .myButton {
   
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Indie Flower', cursive;;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding:8px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

        
